<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/8b69c804b2.js" crossorigin="anonymous"></script>
    <title>GrassRootCRM</title>
</head>
<body>
    <div class="global-wrapper">
        <div class="navigation">
            <div class="branding">
                <img src="/static/CRMlogo-final.png" alt="Logo">
                <h1>GrassRootCRM</h1>
            </div>
            <div class="links">
                <a href="/dashboard">Dashboard</a>
                <a href="/logout" class="logout">Logout</a>
            </div>
        </div>
        <div class="body-wrapper">
            <div class="sidebar">
                <h2>Welcome, User</h2>
                <div class="sidebar_button">
                    <a href="/">Dashboard</a>
                </div>
                <div class="sidebar_button">
                    <a href="/customers">My Customers</a>
                </div>
            </div>
            <div class="discussion-board">
                <form action="/new/note/create" method="post">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            <p>{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {%endwith%}
                    <label for="text">Add Note:</label>
                    <input type="note" name="note" value=""/>
                    <input type="date" name="date" value=""/>
                    <input type="hidden" name="company_id" value="{{ company_id }}"/>
                    <input type="Submit" value="Add">
                </form>
            </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>